# map
* 既存の行を、辞書を用いて変換する。

### サンプルデータの作成

In [2]:
import pandas as pd

In [8]:
df = pd.DataFrame(["Japan","China","England","France","America"])
df.columns = ["country"]

In [9]:
df

   country
0    Japan
1    China
2  England
3   France
4  America

### 既存の行に対して辞書をもとに新しいカラムを作成

In [12]:
region = {"Japan":"Asia",
             "China":"Asia",
             "England":"Europe",
             "France":"Europe",
             "America":"America"}
df["region"] = df["country"].map(region)

In [13]:
df

   country   region
0    Japan     Asia
1    China     Asia
2  England   Europe
3   France   Europe
4  America  America