# timeseries
* 時系列データの前処理について書いていく。

# 差分
* 時系列データは1時点離れたデータとの差を用いることが多い。このようなデータを差分系列、階差系列と呼ぶ。

In [1]:
import pandas as pd
from datetime import datetime, timedelta
import numpy as np

### サンプルデータの作成

In [2]:
# 時間のリストの効率的な作り方がわからない
start_time = datetime(2017, 11, 1, 10, 0, 0, 0)
time_list = []
for i in range(100):
    t = start_time + timedelta(seconds=i)
    time_list.append(t)
    
price = 50000
price_list = []
for _ in range(100):
    price += np.random.randint(-500,500)
    price_list.append(price)

In [3]:
df = pd.DataFrame(price_list,index=time_list,columns=["price"])
df.head(10)

                     price
2017-11-01 10:00:00  49793
2017-11-01 10:00:01  49848
2017-11-01 10:00:02  50282
2017-11-01 10:00:03  50104
2017-11-01 10:00:04  49838
2017-11-01 10:00:05  50045
2017-11-01 10:00:06  49772
2017-11-01 10:00:07  50138
2017-11-01 10:00:08  50568
2017-11-01 10:00:09  50862

* 上記のような秒間データがあったとする。

### 差分の作成

* pd.DataFrame.diff()を用いることで、差分を取ることができる。

In [4]:
df["diff_1"] = df.diff()
df.head()

                     price  diff_1
2017-11-01 10:00:00  49793     NaN
2017-11-01 10:00:01  49848    55.0
2017-11-01 10:00:02  50282   434.0
2017-11-01 10:00:03  50104  -178.0
2017-11-01 10:00:04  49838  -266.0

* periodsを指定することで、差分を取る間隔を変更することができる。

In [5]:
df["diff_3"] = df["price"].diff(periods=3)
df.head()

                     price  diff_1  diff_3
2017-11-01 10:00:00  49793     NaN     NaN
2017-11-01 10:00:01  49848    55.0     NaN
2017-11-01 10:00:02  50282   434.0     NaN
2017-11-01 10:00:03  50104  -178.0   311.0
2017-11-01 10:00:04  49838  -266.0   -10.0